@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Resetting */
*{
margin: 0;
padding: 0;
line-height: 1.6;
box-sizing: border-box;
font-family: Montserrat;
}
ul{
    text-decoration: none;
    color: black;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
/* Main Styling */
body{
    max-width: 1170px;
    margin: 0 auto;
}
/* Header and Nav bar */
header{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    background-color: #ededed;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
}
header a{
    font-size: 20px;
    font-weight: 600;
}
.logo{
    padding: 0 15px; 
}
.navbar ul{
    text-align: right;
}
.navbar ul li{
    display: inline;
    padding: 0 15px; 
}

/* Top Banner */
.aboutus p{
justify-content: center;
}
.top-banner{
    margin: 20px 0;
}
.title{
    margin: 20px 0;
}
.content{
    display: flex;
    gap: 15px;
}
.image img{
    width: 100%;
}
.image , .description {
    width: 50%;
}










/* Footer */

.bottombar{
    padding: 10px 0;
    background-color: #ededed;
    text-align: right;
}
.bottombar a{
    padding: 10px;
}